<div class="flex-container">
  <img src="{{ avatarImage }}" />
  <article>
    <input
      type="text"
      name="title"
      placeholder="What's happening?"
      />
    <div class="everyone-can-reply">* Everyone can reply</div>
    <footer>
      <mat-icon fontSet="material-icons-outlined">insert_photo</mat-icon>
      <mat-icon fontSet="material-icons-outlined">movie</mat-icon>
      <mat-icon fontSet="material-icons-outlined">insert_chart</mat-icon>
      <mat-icon fontSet="material-icons-outlined"
        >sentiment_satisfied_alt</mat-icon
      >
      <mat-icon fontSet="material-icons-outlined">event_note</mat-icon>
      <button>Tweet</button>
    </footer>
  </article>
</div>
