.flex-container {
  display: flex;

  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 10px solid;
  border-color: var(--border-color);

  padding: 10px 15px 0px;
}

img {
  width: 3rem;
  height: 3rem;
  margin-right: 10px;
  border-radius: 50%;

  transition: 0.2s;
}

img:hover {
  opacity: 0.9;
}

article {
  width: 100%;
  max-width: 504px; /* Prevent div from expanding out of tweet box if user types an entire line without spaces */
}

.input {
  margin-top: 13px;
  margin-bottom: 20px;

  background: none;
  border: none;

  /* font size of placeholder text and input text. If we put this in input::placeholder the input size will cut the text off */
  font-size: 19px;

  /* Change color of cursor and the text the user types */
  caret-color: var(--primary-text-color);
  color: var(--primary-text-color);
}

.input:focus {
  outline: none;
}

.input:hover {
  cursor: text;
}

/* Make placeholder text appear/disappear depending on if input field is empty */
/* Code is from the asker of this post. Check their fiddle: https://stackoverflow.com/questions/20726174/placeholder-for-contenteditable-div */
.input[placeholder]:empty:before {
  content: attr(placeholder);
  color: var(--secondary-text-color);
}

/* When user focuses on input, make 'everyone-can-reply' visible */
.input:focus + .everyone-can-reply {
  display: flex;
}

.everyone-can-reply {
  display: none;
  align-items: center;

  padding-bottom: 12px;
  border-bottom: 1px solid var(--border-color);

  font-size: 13px;
  font-weight: bold;
  color: var(--twitter-blue);
}

.earth-icon {
  float: left;
  font-size: 23px;
  padding-right: 4px;
}

footer {
  display: flex;
  align-items: center;
  height: 49px;

  margin: 5px 5px 5px -8px; /* -8 to offset icon padding that is needed for hover background */
}

footer > .icon-container {
  display: flex;
  align-items: center;
  padding: 8px;

  transition: background 0.2s;
  border-radius: 9999px;
}

footer > .icon-container:hover {
  cursor: pointer;
  background-color: var(--background-color-hover);
}

footer > .icon-container * {
  color: var(--twitter-blue);
  font-weight: 100;
}

footer > button {
  margin-left: auto;
  width: 74px;
  height: 39px;

  font-size: 15px;
  font-weight: bold;
  color: white;

  border: none;
  border-radius: 100px;
  background-color: var(--twitter-blue);

  transition: background 0.8s;
}

footer > button:focus,
footer > button:hover {
  cursor: pointer;
  background-color: rgb(26, 145, 218);
  outline: none;
}

/* Hide these icons if width is less than this */
@media (max-width: 705px) {
  footer :nth-child(3),
  footer :nth-child(5) {
    display: none;
  }
}
