.flex-container {
  display: flex;

  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 10px solid;
  border-color: var(--border-color);

  padding: 10px 15px 0px;
}

img {
  width: 3rem;
  height: 3rem;
  margin-right: 10px;
  border-radius: 50%;

  transition: 0.2s;
}

img:hover {
  opacity: 0.9;
}

article {
  width: 100%;
  max-width: 475px; /* Prevents words from spilling out of text box if user types a long word with no spaces */
}

.input {
  margin-top: 13px;
  margin-bottom: 17px;

  background: none;
  border: none;

  /* Edits placeholder text, user inputted text, and the cursor color */
  font-size: 19px;
  color: var(--primary-text-color);
  caret-color: var(--primary-text-color);
}

.input:focus {
  outline: none;
}

.input:hover {
  cursor: text;
}

/* Make placeholder text appear/disappear depending on if input field is empty */
/* Code is from the asker of this post. (Look at their Fiddle): https://stackoverflow.com/questions/20726174/placeholder-for-contenteditable-div */
.input[placeholder]:empty:before {
  content: attr(placeholder);
  color: var(--secondary-text-color);
}

/* When user focuses on input, makes 'everyone-can-reply' visible */
.input:focus + .everyone-can-reply-wrapper {
  display: flex;
}

.everyone-can-reply-wrapper {
  display: none;
  align-items: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid var(--border-color);
}

.everyone-can-reply-container {
  display: inline-flex;

  font-size: 13px;
  font-weight: bold;
  color: var(--twitter-blue);

  transition: background 0.2s;
  border-radius: 9999px;
  padding: 5px 10px 0px 5px; /* Weird numbers to make background appear centered */
}

.everyone-can-reply-container:hover {
  cursor: pointer;
  background-color: var(--background-color-hover);
}

.earth-icon-container {
  padding-right: 3px;
}

.earth-icon-container > mat-icon {
  /* Move up slightly to align with text */
  position: relative;
  bottom: 1px;

  font-size: 21px;
}

footer {
  display: flex;
  align-items: center;

  height: 49px;
  margin: 5px -8px; /* -8 to offset the icons background padding (which is visible when hovering) */
}

footer > .icon-container {
  display: flex;
  align-items: center;
  padding: 8px;

  transition: background 0.2s;
  border-radius: 9999px;
}

footer > .icon-container:hover {
  cursor: pointer;
  background-color: var(--background-color-hover);
}

footer > .icon-container mat-icon {
  color: var(--twitter-blue);
  font-weight: 100;
}

footer > button {
  margin-left: auto;
  width: 74px;
  height: 39px;

  font-size: 15px;
  font-weight: bold;
  color: white;

  border: none;
  border-radius: 100px;
  background-color: var(--twitter-blue);

  transition: background 0.8s;
}

footer > button:focus,
footer > button:hover {
  cursor: pointer;
  background-color: rgb(26, 145, 218);
  outline: none;
}

/* Hide these icons if width is less than this */
@media (max-width: 705px) {
  footer :nth-child(3),
  footer :nth-child(5) {
    display: none;
  }
}
