.flex-container {
  display: flex;

  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 8px solid;
  border-color: var(--border-color);

  padding: 10px 15px 10px;
}

img {
  width: 3rem;
  height: 3rem;
  margin-right: 10px;
  border-radius: 50%;

  transition: 0.2s;
}

img:hover {
  opacity: 0.9;
}

article {
  width: 100%;
}

article > input {
  margin: 10px 0;
  
  background: none;
  border: none;
  
  font-size: 19px; /* Font size goes here. Size of text box changes if we set the font size in ::placeholder */
}

article > input::placeholder {
  color: var(--secondary-text-color);
  opacity: 1; /* Have to do this for color to change on Firefox */
}

textarea:focus, input:focus{
  outline: none;
}

article > .everyone-can-reply {
  font-size: 13px;
  color: var(--twitter-blue);
  font-weight: bold;
  margin-bottom: 10px;
}

footer {
  border-top: 1px solid var(--border-color);
  height: 49px;

  display: flex;
  align-items: center;
}

footer > * {
  margin-top: 10px;
}

footer > mat-icon {
  margin-right: 15px;
  color: var(--twitter-blue);
  font-weight: 100;
}

footer > button {
  margin-left: auto;
  width: 74px;
  height: 39px;

  font-size: 15px;
  font-weight: bold;
  color: white;

  border: none;
  border-radius: 100px;
  background-color: var(--twitter-blue);

  transition: background 0.8s;
}

footer > button:focus,
footer > button:hover {
  cursor: pointer;
  background-color: rgb(26, 145, 218);
  outline: none;
}
