<div class="flex-container">
  <img src="{{ avatarImage }}" />
  <article>
    <div
      class="input"
      placeholder="What's happening?"
      contenteditable="true"
    ></div>
    <div class="everyone-can-reply">
      <mat-icon class="earth-icon">public</mat-icon>
      <div>Everyone can reply</div>
    </div>
    <footer>
      <mat-icon fontSet="material-icons-outlined">insert_photo</mat-icon>
      <mat-icon fontSet="material-icons-outlined">movie</mat-icon>
      <mat-icon fontSet="material-icons-outlined">insert_chart</mat-icon>
      <mat-icon fontSet="material-icons-outlined"
        >sentiment_satisfied_alt</mat-icon
      >
      <mat-icon fontSet="material-icons-outlined">event_note</mat-icon>
      <button>Tweet</button>
    </footer>
  </article>
</div>
