/* When inspecting a website to get its width, the number isn't accurate. Subtract the padding and enter that as the width, because padding makes a div bigger. */
/* For example, inspecting a Twitter.com tweet gives a width is 598. But it has padding of 15 on the left and 15 on the right. So it's actual width is 598-15-15 = 568. */
.container {
  --transition-delay: 0.2s;

  width: 568px;
  display: flex;
  color: var(--primary-text-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid #38444d;
  border-top: 1px solid #38444d;
  border-right: 1px solid #38444d;
  font-size: 15px;
  cursor: pointer;

  /* makes focus/hover transition over 0.2 seconds instead of instantly */
  transition: var(--transition-delay);
}

/* focus I believe is called when you tab over item instead of mousing over it. */
.container:focus,
.container:hover {
  background-color: #192734;
}

/* border-radius turns square picture into circle */
img {
  margin-right: 10px;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

header {
  display: flex;
}

span {
  margin-right: 4px;
}

#bold {
  font-weight: bold;
}

#secondary-color {
  color: var(--secondary-text-color);
}
