.twitter-icon {
  font-size: 30px;
  color: var(--twitter-icon-color);

  /* This is the background that will appear on :hover */
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 100px;
  padding: 10px;

  transition: background 0.2s;
  cursor: pointer;
}

.twitter-icon:focus,
.twitter-icon:hover {
  background-color: var(--sidebar-text-background-color);
}

.wrapper {
  display: flex;
  flex-direction: column;

  color: var(--primary-text-color);
  font-size: 19px;
  font-weight: bold;

  height: 46.25px;

  cursor: pointer;
}

/* By using a wrapper over the container, the radius for :hover to activate is the same size for each element */
/* But the background that appears can be a different size for each element. */
.wrapper:focus > .container,
.wrapper:hover > .container {
  background: var(--sidebar-text-background-color);
  color: #1da1f2;
}

.container {
  display: flex;
  align-items: center;
  padding: 10px;

  /* The size of the background that will appear on :hover */
  width: fit-content;
  border-radius: 30px; /* Makes edges of background round */
  padding-left: 10px;
  padding-right: 20px; /* for some reason, twitter.com makes the right side a bit wider than the left side */
  padding-top: 10px;
  padding-bottom: 10px;

  transition: background 0.2s; /* Only apply transition to background. Let text color change immediately when mouse hovers for a smoother user experience */
}

.container > mat-icon {
  font-size: 28px;
}

.container > div {
  padding-left: 24px;
}

button {
  background-color: #1da1f2;
  border: none;
  border-radius: 100px;
  width: 260px;
  height: 57px;
  margin-top: 10px;

  cursor: pointer;
  transition: 0.2s;
}

button:focus,
button:hover {
  background-color: blue;
}

/* If window width is <= this, only display icons (hide text) ... Make button smaller */
@media (max-width: 1282px) {
  .container > div {
    display: none;
    color: red;
  }

  button {
    height: 50px;
    width: 50px;
  }
}

/* If window height < this, remove "bookmarks" and "lists" from sidebar */
@media (max-height: 630px) {
  .bookmarks,
  .lists {
    display: none;
  }
}

/* If window height is >= this, increase padding between each item in list */
@media (min-height: 720px) {
  .wrapper {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

/* If window height is >= this, increase padding between each item in list */
@media (min-height: 825px) {
  .wrapper {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
