.twitter-icon {
  margin: 12px;
}

.twitter-icon > fa-icon {
  font-size: 30px;
  color: white;
}

/* ****** */
.wrapper {
  display: flex;
  flex-direction: column;

  width: 250px;

  color: var(--primary-text-color);
  font-size: 19px;
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  padding: 10px;
}

/* text elements */
.container > div {
  padding-left: 20px;
}

/*
@media (max-height: 720px) {
  .container > div {
  }
}
*/

/* Items disappear when screen is small */
@media (max-height: 630px) {
  .bookmarks,
  .lists {
    display: none;
  }
}

/*
@media (max-height: 400px) {
  .bookmarks,
  .lists {
    color: red;
  }
}
*/
