.twitter-icon {
  margin-top: 20px;
  padding-left: 10px;
}

.twitter-icon > fa-icon {
  font-size: 23px;
  color: white;
}

/* ****** */
.wrapper {
  display: flex;
  flex-direction: column;

  width: 250px;

  font-weight: bold;
  font-size: 19px;
  color: var(--primary-text-color);
}

.container {
  display: flex;
  align-items: center;
  padding: 10px;
}

/* text elements */
.container > div {
  padding-left: 20px;
}

/*
@media (max-height: 720px) {
  .container > div {
  }
}
*/

@media (max-height: 630px) {
  .bookmarks,
  .lists {
    display: none;
  }
}

/*
@media (max-height: 400px) {
  .bookmarks,
  .lists {
    color: red;
  }
}
*/
