<div class="container flex">
  <div>
    <span class="head">
      <!-- <span>Trending in United States</span> -->
      <span>{{trending.category}}</span>
    </span>
    <div class="article">
      <div>{{trending.content}}</div>
    </div>
    <div class="footer">{{trending.numOfTweets}} Tweets</div>
  </div>
  <!-- To set size without arrow moving away from center, it must be wrapped in a div and use [inline]=true. Source: https://stackoverflow.com/questions/43887701/how-to-change-mat-icon-size-in-material -->
  <div class="down-arrow-icon">
    <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
  </div>
</div>