<div [ngClass]="['wrapper', colorTheme]">
  <div class="who-to-follow-title">
    <div>Who to follow</div>
  </div>

  <div class="container">
    <div class="flex">
        <div>
          <img src="{{ avatarImage }}" />
        </div>
        <div class="inner-content">
          <div>
            <div>Invesco US</div>
            <div>@InvescoUS</div>
          </div>
          <div>Follow</div>
        </div>
      </div>
    <footer>↗ Promoted</footer>
  </div>

  <div class="show-more-footer">
    <div>Show more</div>
  </div>
</div>
