<div [ngClass]="['wrapper', colorTheme]">
  <div class="who-to-follow-title">
    <div>Who to follow</div>
  </div>

  <div class="container">
    <div class="flex">
      <img src="{{ avatarImage2 }}" alt="" />
      <div>
        <span class="name">Steve Martin </span>
        <span class="username">@SteveMartinToGo</span>
      </div>
      <div class="button-container">
        <button>Follow</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="flex">
      <img src="{{ avatarImage }}" alt="" />
      <div>
        <span class="name">Invesco US </span>
        <span class="username">@InvescoUS</span>
      </div>
      <div class="button-container">
        <button>Follow</button>
      </div>
    </div>
    <div class="promoted">↗ Promoted</div>
  </div>

  <div class="show-more-footer">
    <div>Show more</div>
  </div>
</div>
