.light-theme {
  --background-color: rgb(245, 248, 250);
  --background-color-hover: rgb(237, 240, 242);
  --button-color-hover: rgb(216, 232, 242);
}

.dark-theme {
  --background-color: #192734;
  --background-color-hover: rgb(32, 46, 58);
  --button-color-hover: rgb(32, 57, 77);
}

.wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  width: 348px;

  background-color: var(--background-color);
  border-radius: 15px;
}

.who-to-follow-title {
  color: var(--primary-text-color);
  padding: 13px;
  border-bottom: 1px solid var(--border-color);

  font-size: 19px;
  font-weight: 800;
}

.show-more-footer {
  padding: 15px;
  font-size: 15px;
  color: var(--twitter-blue);

  /* Background that will appear on :hover. */
  background-color: none;
  border-radius: 0 0 15px 15px; /*  Match border radius of bottom of wrapper, or else it will overflow */
  transition: background 0.2s;
}

.show-more-footer:hover {
  cursor: pointer;
  background-color: var(--background-color-hover);
}

.container {
  color: var(--primary-text-color);
  padding: 10px 15px;
  border-bottom: 1px solid var(--border-color);

  transition: background 0.2s;
}

.container:hover {
  cursor: pointer;
  background-color: var(--background-color-hover);
}

.flex {
  display: flex;
  justify-content: unset;
}

img {
  width: 3rem;
  height: 3rem;
  margin-right: 10px;
  border-radius: 50%;
  transition: 0.2s;
}

img:hover {
  opacity: 0.9;
}

.inner-content {
  width: fill;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 4px 15px;
  border: 1px solid var(--twitter-blue);
  border-radius: 100px;
  
  font-size: 15px;
  font-weight: bold;
  color: var(--twitter-blue);
  
  background-color: var(--background-color);
  transition: background 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: var(--button-color-hover);
}

footer {
  margin-left: 56px;
  color: var(--secondary-text-color);
  font-size: 13px;
}
