.container {
  display: flex;
  justify-content: center;
}

.left-side-container {
  position: sticky;
  align-self: flex-start; /* Need this for position sticky to work when also using flexbox - Source: https://stackoverflow.com/questions/44446671/my-position-sticky-element-isnt-sticky-when-using-flexbox */
  top: 0;
  margin-right: 40px;
}

.center-container {
  position: relative;
  right: 20px;

  width: 599px;
}

.right-side-container {
  position: relative;
  left: 10px;

  width: 348px;
  height: 400px;
  border: 1px solid blue;
}

/* max-width means if width is less than this. */
@media (max-width: 1000px) {
  .left-side-container {
    margin-left: 40px;
  }
}

@media (max-width: 1022px) {
  .left-side-container {
    margin-right: 30px;
  }
}

@media (max-width: 1095px) {
  .right-side-container {
    left: 0px;
    width: 290px;
    border: 1px solid red;
  }
}

@media (max-width: 1005px) {
  .right-side-container {
    display: none;
  }
}

/* This adds a scroll bar while I line things up. Will delete before project is finished. */
.temp-scroll-bar {
  position: relative;
  top: 100vh;
}
