.container {
  display: flex;
  justify-content: center;
}

.left-side-container {
  margin-top: 10px;
  margin-right: 80px;
}

.right-side-container {
  height: 400px;
  width: 345px;
  margin-left: 30px;
  border: 1px solid blue;
}
