<div class="container">
  <app-color-theme-toggle></app-color-theme-toggle>
  <div class="left-side-container">
    <app-side-bar></app-side-bar>
  </div>
  <div class="center-container">
    <div class="top-nav">
      <div>Home</div>
      <fa-icon [icon]="faStar" class=""></fa-icon>
    </div>
    <app-tweet-composer></app-tweet-composer>
    <app-tweets></app-tweets>
  </div>
  <div id="right-side-container">
    <app-whats-happening></app-whats-happening>
    <app-who-to-follow></app-who-to-follow>
  </div>
</div>