<div class="container">
  <div class="left-side-container">
    <app-side-bar></app-side-bar>
  </div>
  <div class="center-container">
    <app-tweets></app-tweets>
  </div>
  <div class="right-side-container">
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
    <app-whats-happening></app-whats-happening>
  </div>
</div>
<div>
  <app-color-theme-toggle></app-color-theme-toggle>
</div>

<!-- This is just to add a scroll bar on the right side temporarily -->
<span class="temp-scroll-bar">Temporary: Delete this!</span>
