/* When inspecting a website to get its width, the number isn't accurate. Subtract the padding and enter that as the width, because padding makes a div bigger. */
/* For example, inspecting a tweet on Twitter.com gives a width is 598. But it has padding of 15 on the left and 15 on the right. So it's actual width is 598-15-15 = 568. */
.container {
  display: flex;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--border-color);

  color: var(--primary-text-color);
  font-size: 15px;

  /* Squeezes everything closer inside the div borders. The div size is set somewhere else. */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

  /* makes focus/hover transition over 0.2 seconds instead of instantly */
  transition: 0.2s;
  cursor: pointer;
}

/* I believe focus is called when you tab over item instead of mousing over it. */
.container:focus,
.container:hover {
  background-color: var(--background-color-hover);
}

.profile-image {
  width: 3rem;
  height: 3rem;
  margin-right: 10px;
  border-radius: 50%; /* turns square picture into circle */
  transition: 0.2s;
}

.profile-image:hover {
  opacity: 0.9;
}

header {
  display: flex;
  color: var(--secondary-text-color);
}

header > #name {
  font-weight: bold;
  color: var(--primary-text-color);
}

header > * {
  margin-right: 4px;
}

.interaction-bar {
  display: flex;
  justify-content: space-between;
  width: 83.4%;
  margin-top: 10px;
  color: var(--secondary-text-color);
}
