<div class="container">
  <img src="{{ tweet.profileImage }}" class="profile-image" />
  <div>
    <header>
      <span id="name">{{ tweet.name }}</span>
      <span>@{{ tweet.userName }}</span>
      <span>·</span>
      <span>{{ tweet.postAge }}h</span>
      <!-- <mat-icon>keyboard_arrow_down</mat-icon> -->
      <div class="arrow-icon-container">hey</div>
    </header>
    <main>
      <div>{{ tweet.message }}</div>
    </main>
    <div class="interaction-bar">
      <fa-icon [icon]="faComment" class=""></fa-icon>
      <fa-icon [icon]="faRetweet" class=""></fa-icon>
      <fa-icon [icon]="faHeart" class=""></fa-icon>
      <fa-icon [icon]="faShare" class=""></fa-icon>
    </div>
  </div>
</div>
