.tweet-container {
  display: flex;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--border-color);

  color: var(--primary-text-color);
  font-size: 15px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

  transition: 0.2s;
  cursor: pointer;
}

.tweet-container:focus,
.tweet-container:hover {
  background-color: var(--background-color-hover);
}

.profile-image {
  width: 3rem;
  height: 3rem;
  margin-right: 10px;
  border-radius: 50%; /* turns square picture into circle */
  transition: 0.2s;
}

.profile-image:hover {
  opacity: 0.9;
}

.content-container {
  width: 100%;
}

header {
  display: flex;
  color: var(--secondary-text-color);
}

header > span {
  margin-right: 4px;
}

header > .name {
  font-weight: bold;
  color: var(--primary-text-color);
}

header > mat-icon {
  color: var(--secondary-text-color);
  margin-left: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 83.4%;
  color: var(--secondary-text-color);
  font-size: 17px;
}
