.container {
  display: flex;
  align-items: center; /* This makes center of icons and text align */

  padding-top: 7px;
  padding-bottom: 7px;

  font-weight: bold;
  font-size: 19px;
  color: var(--primary-text-color);

  cursor: pointer;
  transition: 0.2s;
}

.container:hover {
  color: blue;
}

mat-icon {
  padding-right: 10px;
  /* padding-right: 10px; */
}

.text {
  padding: 10px;
  padding-left: 10px;
}
