/* background-color: rgba(29 161 242 0.1); */

span {
  display: flex;
  position: relative;
  width: fit-content;
}

span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: green;
  padding-left: 10px;
  padding-right: 20px;
  border-radius: 30px;
  z-index: -1;
  opacity: 0;

  transition: 0.2s;
}

span:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  background-color: red;
  z-index: -1;
  opacity: 0.7;

  transition-property: background-color;
  transition: 0.2s ease-in-out;
}

/*
span {
  display: flex;
  position: relative;
}

span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  background-color: green;
  z-index: -1;
  opacity: 0.7;

  transition: 0.2s;
}

span:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  background-color: red;
  z-index: -1;
  opacity: 0.7;

  transition-property: background-color;
  transition: 0.2s ease-in-out;
}
*/
