/* Wraps container into one div so that the :hover activation size is the same for each text and icon */
.wrapper {
  position: relative;
  display: flex;
  align-items: center;

  width: 250px;

  padding-top: 45px;
  padding-bottom: 15px;

  font-weight: bold;
  font-size: 19px;
  color: var(--primary-text-color);

  cursor: pointer;
}

/* Contains icon & text. */
.container {
  position: absolute;
  display: flex;
  align-items: center;
}

/* Background is the size of the icon & text it's under. This padding makes it just a little bit larger */
/* (There is no background when mouse isn't hovering) */
.background {
  padding-left: 10px;
  padding-right: 20px; /* (for some reason, twitter.com makes the right side a bit wider than the left side). */
  padding-top: 10px;
  padding-bottom: 10px;

  /* Makes edges of background round */
  border-radius: 30px;

  transition: 0.2s;
}

/* Activate background when mouse is hovering over wrapper */
.wrapper:hover > .background {
  background: rgba(29, 161, 242, 0.1);
  color: #1da1f2;
}

.text {
  padding-left: 20px;
}
