<div [ngClass]="['wrapper', colorTheme]">
  <div class="whats-happening-title">
    <div>What's happening</div>
  </div>

  <!-- Use an if condition to determine which one of these components should run -->
  <app-article [article]="articles[0]"></app-article>
  <app-trending [trending]="trending[0]"></app-trending>
  <app-article [article]="articles[1]"></app-article>
  <app-promotion [promotion]="promotions[0]"></app-promotion>
  <app-trending [trending]="trending[1]"></app-trending>

  <div class="show-more-footer">
    <div>Show more</div>
  </div>
</div>