.light-theme {
  --background-color: #8ca0ad;
  --background-color-hover: rgb(237, 240, 242);
}

.dark-theme {
  --background-color: #192734;
  --background-color-hover: rgb(32, 46, 58);
}

.wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  width: 348px;
  height: 350px;

  background-color: var(--background-color);
  border-radius: 5%;
}

.whats-happening-title {
  display: flex;
  justify-content: space-between;

  color: var(--primary-text-color);
  padding: 10px 15px;
  border-bottom: 1px solid var(--border-color);
}

.whats-happening-title :first-child {
  font-size: 19px;
  font-weight: 800;
}

/* A container for each child component. */
/* :host ::ng-deep allows child components to use parent component's CSS classes */
:host ::ng-deep .container {
  color: var(--primary-text-color);
  padding: 10px 15px;
  border-bottom: 1px solid var(--border-color);

  transition: background 0.2s;
}

:host ::ng-deep .container:hover {
  cursor: pointer;
  background-color: var(--background-color-hover);
}

:host ::ng-deep .flex {
  display: flex;
  justify-content: space-between;
}

:host ::ng-deep .head > * {
  color: var(--secondary-text-color);
  padding-right: 5px;
  font-size: 13px;
}

:host ::ng-deep .article {
  font-size: 15px;
  font-weight: bold;
}

:host ::ng-deep .footer {
  margin-top: 5px;
  color: var(--secondary-text-color);
  font-size: 13px;
}
