.light-theme {
  --background-color: #f5f8fa;
}

.dark-theme {
  --background-color: #192734;
}

.wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  width: 348px;
  height: 350px;

  background-color: var(--background-color);
  border-radius: 5%;
}

.container {
  color: var(--primary-text-color);
  padding: 10px 15px;
  border-bottom: 1px solid var(--border-color);
}

.whats-happening {
  font-size: 19px;
  font-weight: 800;
}

.title > * {
  color: var(--secondary-text-color);
  padding-right: 5px;
  font-size: 13px;
}

.article {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: bold;
}
