<div [ngClass]="['wrapper', colorTheme]">
  <div class="whats-happening-container">
    <div class="whats-happening">What's Happening</div>
  </div>

  <div class="container">
    <div class="left-container">
      <span class="title">
        <span>Category</span>
        <span>·</span>
        <span>LIVE</span>
      </span>
      <div class="article">
        <div>
          This is an article: Wow an article. I'm writing more to see what
          happens when it gets too long. And just one more.
        </div>
      </div>
    </div>
    <img src="{{ image }}" />
  </div>

  <app-trending></app-trending>
  <app-promotion></app-promotion>
</div>
