/* You can add global styles to this file, and also import other style files */

/* (hover) The color when hovering over tweets. */
/* (hover2) The color when hovering over images/videos inside of tweet. The tweet changes colors and then the image/video turns even brighter. */
/* hover1 seems to be the same color as the What's Happening tab */
.light-theme {
  --background-color: white;
  --background-color-hover: #f5f8fa;
  --background-color-hover2: red; /* color not set yet */
  --primary-text-color: #222527;
  --secondary-text-color: #232f39;
  --border-color: #38444d;

  --twitter-icon-color: #1da1f2;
  --sidebar-text-background-color: rgba(29, 161, 242, 0.1);
}

.dark-theme {
  --background-color: #15202b;
  --background-color-hover: #192734;
  --background-color-hover2: red; /* color not set yet */
  --primary-text-color: #ffffff;
  --secondary-text-color: #8796a0;
  --border-color: #38444d;

  --twitter-icon-color: white;
  --sidebar-text-background-color: rgba(29, 161, 242, 0.1);
}

* {
  /* not sure how these fonts work. I typed "Ubunto" and it auto suggested this. Most of the fonts seemed close to what twitter.com is using from inspecting their page. */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  /* this goes here instead of in *, div's background color can't be overrided (specifically noticeable when using :hover on a tweet) */
  background-color: var(--background-color);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
